@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<div>
    <form asp-action="Logout" asp-controller="Account" method="post">
        <div class="form-group mt-3">
            <input type="submit" value="ログアウト" class="btn btn-primary" />
        </div>
    </form>
</div>
