<div class="modal fade" id="changePasswordConfirmModal" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered modal-sm">
        <div class="modal-content">

            <div class="modal-body text-center">
                <p class="mb-3">
                    パスワード変更ページに移動します。<br />
                    よろしいですか？
                </p>

                <div class="d-flex justify-content-between px-2">

                    <a href="@Url.Action("ChangePassword", "Account")" class="btn btn-primary">
                        移動する
                    </a>
                    <button class="btn btn-secondary" data-bs-dismiss="modal">キャンセル</button>
                </div>
            </div>
        </div>
    </div>
</div>
