/* device-delete.css */
/* 機器情報 削除時のモーダルとトースト */

/* トースト本体*/
#resultToast {
    min-width: 320px;
    font-size: 1.05rem;
    padding: 10px 14px;
    border-radius: 10px;
    color: #fff !important;
}

/* トースト通知の色 */
/* 成功時（柔らかい緑） */
#resultToast.success {
    background-color: #3BB46A !important;
}

/* エラー時（柔らかい赤） */
#resultToast.error {
    background-color: #D64545 !important;
}

/* モーダルヘッダー */
#deleteConfirmModal .modal-header {
    background-color: #6c3af0 !important;
    color: #FFFFFF
}

/* モーダルヘッダー アイコン */
.modal-icon {
    width: 22px; /* 大きさは必要に応じて変更 */
    height: 22px;
    margin-right: 6px; /* 文字との間隔 */
    object-fit: contain; /* ゆがみ防止 */
}

/* アニメーション */
#resultToast.showing {
    transform: translateY(0) scale(1.05);
    transition: transform 0.3s ease-out;
}
