/* modal.css */
/* モーダルのCSS */

/* モーダルヘッダー */
.modal-header {
    background-color: #6c3af0 !important;
    color: #FFFFFF
}

/* モーダルヘッダー アイコン */
.modal-icon {
    width: 22px;
    height: 22px;
    margin-right: 6px; /* 文字との間隔 */
    object-fit: contain; /* ゆがみ防止 */
}

/* モーダル × ボタンを白にする */
.btn-close {
    filter: invert(1) brightness(200%);
}

/* モーダルの角丸を強める */
.modal-header {
    border-top-left-radius: 10px !important;
    border-top-right-radius: 10px !important;
}

.modal-content {
    border-radius: 12px !important;
}

.modal-footer {
    border-bottom-left-radius: 12px !important;
    border-bottom-right-radius: 12px !important;
}

/* 履歴表示：間隔を調整 */
#historyDetailContainer .row {
    padding-top: 2px;
    padding-bottom: 2px;
}

/* 履歴表示：横幅を調整 */
#historyDetailModal .modal-custom-width {
    max-width: 600px;
    width: 95%;
}

/* 閉じるボタン */
.modal-close-btn {
    background-color: #6C757D;
    color: #fff;
    padding: 8px 20px;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.1s ease;
}

.modal-close-btn:hover {
    background-color: #8996A1;
    color: #fff;
}

/* 水色ボタン */
.modal-info-btn {
    background-color: #17A2B8;
    color: #fff;
    padding: 8px 20px;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.1s ease;
}

.modal-info-btn:hover {
    background-color: #36B8CD;
    color: #fff;
}

/* 緑ボタン */
.modal-positive-btn {
    background-color: #28A745;
    color: #fff;
    padding: 8px 20px;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    text-decoration: none;
}

.modal-positive-btn:hover {
    background-color: #2E9766;
    color: #fff;
}

/* 赤ボタン */
.modal-negative-btn {
    background-color: #D4552F;
    color: #fff;
    padding: 8px 20px;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    text-decoration: none;
}

.modal-negative-btn:hover {
    background-color: #BA411C;
    color: #fff;
}

