/* site.css */

.main-content {
    margin-left: 230px; /* サイドバーと同じ幅 */
    width: calc(100% - 230px);
    padding: 20px;
    box-sizing: border-box;
}

/* サイドバー全体 */
.sidebar {
    width: 220px;
    background: #EFE8FF;
    min-height: 100vh;
    padding: 20px 10px;
    position: fixed;
    left: 0;
    top: 0;
}

/* タイトル */
.sidebar-title {
    font-size: 20px;
    font-weight: bold;
    color: #6A32E5;
    display: block;
    margin-bottom: 30px;
}


/* 2カラムレイアウト */
.layout-wrapper {
    display: flex;
    min-height: 100vh;
}

/* コンテンツ側 */
.layout-content {
    flex-grow: 1;
    padding: 20px;
    margin-left: 0;
}
