/* サイドバー全体 */
.sidebar {
    width: 220px;
    background: #EFE8FF;
    min-height: 100vh;
    padding: 20px 10px;
    position: fixed;
    left: 0;
    top: 0;
}

/* タイトル */
.sidebar-title {
    font-size: 20px;
    font-weight: bold;
    color: #6A32E5;
    display: block;
    margin-bottom: 30px;
}


/* 2カラムレイアウト */
.layout-wrapper {
    display: flex;
    min-height: 100vh;
}

/* コンテンツ側 */
/*.layout-content {
    margin-left: 240px;*/ /* サイドバー幅 + 余白 */
    /*padding: 20px;
}*/
.layout-content {
    flex-grow: 1;
    padding: 20px;
    margin-left: 0;
}

/* サイドバー側 */
.layout-sidebar {
    width: 230px;
    background-color: #EFE8FF;
}

/* フッター */
.sidebar-footer {
    color: #666;
    font-size: 12px;
    margin-top: 40px;
}


/*html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}*/