@using ITAssetKeeper.Models.Enum
@model ITAssetKeeper.Models.ViewModels.Account.ChangePasswordViewModel

@{
    ViewData["Title"] = "ChangePassword";
}

<h1>パスワード変更</h1>

<div>
    <form asp-action="ChangePassword" method="post">
        @Html.AntiForgeryToken()
        <!-- アラートメッセージがあればここに表示 -->
        @if (ViewData.ModelState.ErrorCount > 0)
        {
            <div class="alert alert-warning mt-3" role="alert">
                @Html.ValidationSummary(true, "", new { @class = "mb-0" })
            </div>
        }
        <!-- ログイン時パスワード有効期限切れの場合、ここにメッセージ表示 -->
        @if (TempData[@ChangePWTemp.PasswordExpiredMessage.ToString()] != null)
        {
            <div class="alert alert-warning">@TempData[@ChangePWTemp.PasswordExpiredMessage.ToString()]</div>
        }

        <div class="form-group">
            <label asp-for="CurrentPassword" class="control-label"></label>
            <input asp-for="CurrentPassword" class="form-control" placeholder="現在のパスワードを入力" />
        </div>

        <div class="form-group">
            <label asp-for="NewPassword" class="control-label"></label>
            <input asp-for="NewPassword" class="form-control" placeholder="新しいパスワードを入力" />
        </div>

        <div class="form-group">
            <label asp-for="ConfirmPassword" class="control-label"></label>
            <input asp-for="ConfirmPassword" class="form-control" placeholder="新しいパスワードを再入力" />
        </div>

        <div class="form-group mt-3">
            <input type="submit" value="変更" class="btn btn-primary" />
        </div>
    </form>
</div>
